{% extends 'base.html' %} 
{% block title %}
Obrigado!
{% endblock %}

{% block content %}

<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            <h1 class="h3">
                <br>
                <br>
                <h2>Os seus dados foram guardados com sucesso!</h2>
                <br>
                <h3>Agradecemos a sua preferência.</h3>
                <br>
                <br>
            </h1>
            <img class="mb-4" src="https://res.cloudinary.com/dmcagq19i/image/upload/v1626886873/Uniway/logo_04_modificado_yxw8jh.png" style="width: 60%;"> 
                <br>
            </div>
            
        </form>
    </div>
</body>


{% endblock %}